body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-repeat: no-repeat;
  background-position: center top;
  margin: 0;
  padding: 0;
}
.container{
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}
.main-header{
  width: 100%;
  background-color: #6451d5;
  padding-top: 19px;
  padding-bottom: 1px;

}
.main-menu li{
  float: left;
  display: inline-block;
  margin-top: 25px;

}
.main-header .container::after{
  content: "";
  display: table;
  clear: both;
}
.main-menu a{
  display: block;
  vertical-align: middle;
  margin-right: 55px;
  color: #FFFFFF;
  text-decoration: none;
  font-family: "Trebuchet MS", "Arial", sant-sefif;
  font-size: 18px;
  font-weight: bold;
}
.main-menu li:last-child a{
  margin-right: 0px;
}
.header-top .logotype{
  float: left;
  margin-right: 167px;
  margin-bottom: -7px;
}
.header-top{
  margin-bottom: 93px;
  margin-right: 30px;
  margin-left: 30px;
}
.logotype img{
  width: auto;
  height: auto;
}
.header-top::after{
  content: "";
  display: table;
  clear: both;
}
.promo{
  position: relative;
  float: left;
  width: 450px;
  margin-left: 30px;
  color: #FFFFFF;
}
.promo .promo-title{
  font-family: "Trebuchet MS", "Arial", sant-sefif;
  font-size: 45px;
  line-height: 50px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 35px;
}
.promo .promo-text{
  font-size: 18px;
  font-family: "Tahoma", "Arial", sans-serif;
  color: #bcb3f2;
  line-height: 30px;
  margin-bottom: 50px;
  width: 390px;
}
.button{
  color: #FFFFFF;
  text-decoration: none;
  background-color: #382d78;
  padding: 10px;
  font-family: "Trebuchet MS", "Arial", sant-sefif;
  text-align: center;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.button-promo{
  display: block;
  width: 320px;
  padding: 23px 0;
}
.item-image{
  position: absolute;
  bottom: -36px;
  right: -583px;
}
.features-item{
  margin-left: 30px;
  float: left;
  width: 320px;

}
.features .container::after{
  content: "";
  display: table;
  clear: both;
}
.features{
  width: 100%;
  background-color: #efefef;
  padding-top: 50px;
  padding-bottom: 1px;

}
.features .container{
  margin-bottom: 44px;

}
.features-item h1{
  font-family: "Trebuchet MS", "Arial", sant-sefif;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 26px;

}
.features-item p{
  font-family: "Tahoma", "Arial", sans-serif;
  font-size: 18px;
  color: #555555;
  text-align: center;

  margin: 0;
}
.features-icon{
  margin-left: auto;
  margin-right: auto;

}
.features-icon-1{
  background-image: url("../img/icon adv 1.png");
  width: 55px;
  height: 59px;
  margin-bottom: 30px;
}
.features-icon-2{
  background-image: url("../img/icon adv 2.png");
  width: 73px;
  height: 67px;
  margin-bottom: 22px;
}
.features-icon-3{
  background-image: url("../img/icon adv 3.png");
  width: 69px;
  height: 63px;
  margin-bottom: 26px;
}
.education{
  padding-top: 13px;
  background-color: #FFFFFF;
  padding-bottom: 1px;
}
.education .container{
  box-sizing: border-box;
  padding: 0 30px;
  margin-bottom: 69px;
}
.education h1{
  font-weight: bold;
  font-size: 45px;
  font-family: "Trebuchet MS", "Arial", sant-sefif;
  margin-bottom: 60px;
  padding-bottom: 13px;
  padding-top: 13px;
}
.table-edu{
  border-collapse: collapse;
}
.table-edu td{
  font-family: "Tahoma", "Arial", sant-sefif;
  color: #404040;
  font-size: 18px;
  border: 2px solid #a7a7a7;
  padding: 20px;
  padding-left: 30px;

}
.table-edu .third-column{
  line-height: 30px;
}
.table-edu .bold{
  font-family: "Trebuchet MS", "Arial", sant-sefif;
  vertical-align: top;
  padding-top: 22px;
  font-size: 22px;
}
.table-edu .table-header{
  background-color: #efefef;
}
.table-edu tr:first-child td:first-child{
  box-sizing: border-box;
  width: 287px;
}
.table-edu tr:first-child td:nth-child(2){
  box-sizing: border-box;
  width: 192px;
}
.contacts{
  background: #efefef;
  padding-top: 1px;
  padding-bottom: 1px;
}
.contacts h1{
  font-family: "Trebuchet MS", "Arial", sant-sefif;
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 60px;
  margin-top:0;
  padding-top: 13px;
  padding-bottom: 13px;
}
.contacts .container{
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 74px;
  margin-top: 49px;
}
.contacts .container::after{
  content: "";
  display: table;
  clear: both;
}
.contacts-form{
  float:left;
  text-align: right;
}
.contacts-form td{
  /* border: 2px solid black; */
  padding-top: 0px;
  padding-bottom: 30px;
  padding-left: 0;
}
.contacts-inform{
  box-sizing: border-box;
  width: 320px;
  float: right;
  padding-left: 0px;
}
.contacts-inform h3{
  margin-top: 0;
  line-height: 30px;
  font-family: "Trebuchet MS", "Arial", sant-sefif;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 25px;
}
.contacts-inform p{
  font-family: "Tahoma", "Arial", sant-sefif;
  font-size: 18px;
  color: #555555;
  margin-bottom: 25px;
}
.contacts-inform b{
  color: #000000;
}
p.attention{
  margin-top: 40px;
  margin-bottom: 0px;
}
.contacts-form table .first-column{
  font-family: "Trebuchet MS", "Arial", sant-sefif;
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  padding-right: 5px;
  vertical-align: top;
}
.contacts-form table tr:nth-child(3) .first-column{
  vertical-align: top;
  padding-top: 9px;
}
.contacts-form table tr:nth-child(2) .second-column{
  padding-top: 0px;
}
.contacts-form table tr:nth-child(3) .second-column{
  padding-bottom: 17px;
}
.contacts-form table tr:nth-child(4) .second-column{
  padding-bottom: 0px;
}
.contacts-form table .second-column{
  text-align: left;
  font-family: "Tahoma", "Arial", sant-sefif;
  font-size: 18px;
  width: 515px;
}
input[type="text"]{
  box-sizing: border-box;
  width: 100%;
  min-height: 57px;
  font-family: "Tahoma", "Arial", sant-sefif;
  font-size: 18px;
  border: 2px solid #a7a7a7;
  padding-left: 25px;
}
input[type="submit"]{
  box-sizing: border-box;
  width: 100%;
  padding: 23px 0;
  text-transform: uppercase;
  font-family: "Trebuchet MS", "Arial", sant-sefif;
  font-size: 20px;
  font-weight: bold;
  background-color: #382d78;
  color: #ffffff;
  border: none;
}
textarea[id="additional-info-field"]{
  box-sizing: border-box;
  width: 100%;
  resize: none;
  font-family: "Tahoma", "Arial", sant-sefif;
  font-size: 18px;
  height: 105px;
  border: 2px solid #a7a7a7;
  padding-left: 25px;
  padding-top: 15px;
}
.contacts-form table .first-data{
  padding-top: 13px;
}
input[type="radio"]{
  margin-right: 20px;
  margin-left: 15px;
}
input[id="sex-female"]{
  margin-left: 60px;
}
.main-footer{
  background-color: #2a2546;
  padding-top: 1px;
}
.main-footer .logo-addres p{
  font-family: "Tahoma", "Arial", sant-sefif;
  font-size: 18px;
  color: #ffffff;
}
.main-footer .container{
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 65px;
}
.main-footer li{
  list-style: none;
  font-family: "Tahoma", "Arial", sant-sefif;
  font-size: 18px;
}
.main-footer li.li-header{
  color: #ffffff;
  font-weight: bold;
}
.main-footer li a{
  text-decoration: none;
  color: #a39ebe;
}
.main-footer  .column-education, .column-students, .column-entrance,{
  float: left;
}
.main-footer  .column-contacts{
  float: right;
}
.main-footer .container::after{
  content: "";
  display: table;
  clear: both;
}
.main-footer .logo-addres{
  float: left;
  width: 250px;
}
.main-footer .logo-addres img{
  margin-bottom: 80px;
}
